@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white
}

.main {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
    font-family: Inter;
}
canvas{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.section {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaultText {
    font-family: Inter;
    font-weight: 200;
    position: absolute;
    color: rgb(255 255 255);
    font-size: 2rem;
    background-color: rgb(0, 0, 0, 0.00);
    cursor: default;
    text-align: center;
}

.description {
    font-family: Inter;
    z-index: 1;
    font-weight: 200;
    position: fixed;
    color: rgb(255 255 255);
    font-size: 2rem;
    left: 15%;
    bottom: 33%;
    transform: translate(-15%, -33%);
    background-color: rgb(0, 0, 0, 0.00);
    cursor: default;
}

.description2 {
    font-family: Inter;
    z-index: 1;
    font-weight: 200;
    position: fixed;
    color: rgb(255 255 255);
    font-size: 2rem;
    left: 15%;
    bottom: 33%;
    transform: translate(-15%, -33%);
    background-color: rgb(0, 0, 0, 0.00);
    cursor: default;
}

.heading {
    font-family: Inter;
    font-weight: 800;
    position: static;
    color: rgb(255, 0, 255, 1);
    font-size: 5rem;
    text-align: center;
    cursor: pointer;
}

li, a, button {
    z-index: 3;
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    color: rgb(255, 0, 255, 1);
    text-decoration: none;
}

navbar {
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
}

header {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro{
    background: rgb(85, 0, 85);
    z-index: 1;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: rgb(85, 0, 85);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translateY(100%)
}

.text {
    color: rgb(255, 0, 255, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6rem;
    font-weight: 900;
    text-align: center;
    background: rgb(85, 0, 85);
}

.hide {
    background: rgb(85, 0, 85);
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 5px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}
    .nav_links li a:hover {
        color: rgb(0 60 255);
    }